@using MyFirstAspNetApp.Services;
@inject ICountInstancesService CountInstances
@model IndexViewModel
@{
	ViewData["Title"] = "Home Page";
}

<button class="btn btn-lg btn-primary" onclick="hello()">Click me</button>
<div id="placeholderElement"></div>

<script>
	function hello() {
		const xhr = new XMLHttpRequest;
		xhr.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("placeholderElement").innerHTML = this.responseText;
			}
		}
		xhr.open("GET", "/Test/Index", true)
		xhr.send();
	}
</script>