@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<a asp-area="Administration" asp-controller="Payments" asp-action="Index">Go</a>

	<img src="https://res.cloudinary.com/dpqhpnguv/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1685693185/q5m9vzmjtaxuchnazngh.jpg" />

	<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
		<input type="file" name="files" multiple />
		<button type="submit" value="Upload" />
	</form>

</div>
